* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-default;

  background-color: white;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  & > * {
    margin: 4rem auto;
  }

  @media screen and (min-width: $bp-small) {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    & > * {
      margin: 4rem 0;
    }

    flex-direction: row-reverse;
    column-gap: 12rem;
    justify-content: center;
  }
}

/**
 * High Frequency
 */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}