// COLORS
$color-text-main-heading: hsl(271, 36%, 24%);
$color-text-sub-heading: hsl(276, 100%, 81%);
$color-text-message-receive: hsl(276, 55%, 52%);
$color-text-message-send: hsl(271, 15%, 43%);
$color-text-placeholder: hsl(206, 6%, 79%);
$color-text-para: hsl(270, 7%, 64%);
$color-background-app: hsl(270, 20%, 96%);
$color-background-btn-submit: hsl(271, 36%, 24%);
$color-outline-btn-radio: hsl(289, 100%, 72%);

$gradient-lr: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
$gradient-rl: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
$gradient-tb: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
$font-default: 'Rubik', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

// BREAKPOINTS
$desktop: 1440px;
$mobile: 375px;
$bp-small: 480px;